# AuthJS
AUTH_SECRET="secret"
AUTH_GITHUB_ID="Github client id"
AUTH_GITHUB_SECRET="Github secret"
AUTH_GOOGLE_ID="Google client id"
AUTH_GOOGLE_SECRET="Google secret"

# Database
DATABASE_URL="mongodb+srv://${username}:${password}@${MONGO_HOST}/devs-overflow"

# Guest Login
GUEST_EMAIL=guest@email.com
GUEST_PASSWORD=long-random-secure-password